.steps-list li {
   list-style: none;
}

.code-badge-copy-icon {
   font-size: 1.3em !important;
}

.hljs {
   height: 800px;
}

.code-badge {
   left: 0 !important;
   justify-content: space-between !important;
   position: relative !important;
   border-radius: 0 !important;
   background: #3a3333 !important;
   opacity: .7 !important;
}

.demo-container {
   margin: 1em auto 3em auto;
   text-align: center;
}

.demo-container .demo-gif {
   width: 45%;
   border: 1px solid #5d575724;
   border-radius: 3px;
   opacity: .9;
}

@media only screen and (max-width: 767px) {
   .demo-container .demo-gif {
      width: 100%;
   }
}

@media only screen and (max-width: 767px) {
   .navbar-nav {
      flex-direction: row;
   }

   .navbar-nav .nav-item {
      margin-left: 1em;
   }
}